#rcorners1 {
    border-radius: 25px;
    background: #EEE5FF; 
    width: 60vw;
    height: 100vw;  
    margin:50px;
    font-family: 'Actor', sans-serif;
    font-size: 80px;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #DAB8FF,
                          2px 2px 0 #DAB8FF,
                         2px 2px 0 #DAB8FF,
                        2px 2px 0 #DAB8FF;
                        text-align:center;
    
  }

  .button {
    background-color: #EEE5FF;
    border: 7px solid #FFFFFF;
    color: #000000;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    display: flex;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Actor', sans-serif;
  }

  #rcorners2
  {
    border-radius: 25px;
    background: #EBE8FF;
    width: 60vw;
    height: 100vw;  
    margin:50px;
    font-family: 'Actor', sans-serif;
    font-size: 80px;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px  #FFCDF4,
                          2px 2px 0 #FFCDF4,
                         2px 2px 0 #FFCDF4,
                        2px 2px 0 #FFCDF4;
                        text-align:center;
     
  }

  .innerrectangle2 {

    border-radius: 25px;
    background: #F8F6FF;
    padding: 20px; 
    width: 50vw;
    height: 60vw;  
    margin:50px;
    font-family: 'Actor', sans-serif;
    font-size: 30px;
  }

  .text {
    font-family: 'Actor', sans-serif;
    font-size: 25px; 
    color: #000000;
    margin:50px;
  }

  .button2 {
    background-color: #EEE5FF;
    border: 7px solid #FFFFFF;
    color: #000000;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    display: flex;
    font-size: 22px;
    margin: 12px 700px;
    font-family: 'Actor', sans-serif;
    
  }
  #rcorners3 {
    border-radius: 25px;
    background: #EFFCFF;
    width: 60vw;
    height: 100vw;  
    margin:50px;
    font-family: 'Actor', sans-serif;
    font-size: 80px;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px  #FFCDF4,
    2px 2px 0 #FFCDF4,
   2px 2px 0 #FFCDF4,
  2px 2px 0 #FFCDF4;
  text-align:center;
    
  }

  .innerrectangle3 {

    border-radius: 25px;
    background: #D3F7FF;
    padding: 20px; 
    width: 50vw;
    height: 60vw;  
    margin:50px;
    font-family: 'Actor', sans-serif;
    font-size: 30px;
  }

  #rcorners4 {
    border-radius: 25px;
    background: #FFF8FD;
    width: 60vw;
    height: 100vw;  
    margin:50px;
    font-family: 'Actor', sans-serif;
    font-size: 80px;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px  #FFCDF4,
                          2px 2px 0 #FFCDF4,
                         2px 2px 0 #FFCDF4,
                        2px 2px 0 #FFCDF4;
                        text-align:center;
    
  }

  .innerrectangle4 {

    border-radius: 25px;
    background: #FFE5F9;
    padding: 20px; 
    width: 50vw;
    height: 60vw;  
    margin:50px;
    font-family: 'Actor', sans-serif;
    font-size: 30px;
  }

  .innerrectangle5 {

    border-radius: 25px;
    background: #F2FFF6;
    padding: 20px; 
    width: 50vw;
    height: 60vw;  
    margin:50px;
    font-family: 'Actor', sans-serif;
    font-size: 30px;
  }

  #rcorners5 {
    border-radius: 25px;
    background: #D9FEE3;
    width: 60vw;
    height: 100vw;  
    margin:50px;
    font-family: 'Actor', sans-serif;
    font-size: 80px;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px  #FFCDF4,
                          2px 2px 0 #FFCDF4,
                         2px 2px 0 #FFCDF4,
                        2px 2px 0 #FFCDF4;
                        text-align:center;
    
  }


  .buttons {
    width: 200px;
    margin: 0 auto;
    display: inline;
  }
    
        .action_btn {
    width: 200px;
    margin: 0 auto;
    display: inline;
  }