#rcorners1 {
    border-radius: 25px;
    background: #EEE5FF; 
    width: 60vw;
    height: 100vw;  
    margin:50px;
    font-family: 'Actor', sans-serif;
    font-size: 80px;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #DAB8FF,
                          2px 2px 0 #DAB8FF,
                         2px 2px 0 #DAB8FF,
                        2px 2px 0 #DAB8FF;
                        text-align:center;
    
  }

  .button {
    background-color: #EEE5FF;
    border: 7px solid #FFFFFF;
    color: #000000;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    display: flex;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Actor', sans-serif;
  }

  #rcorners2
  {
    border-radius: 25px;
    background: #EBE8FF;
    width: 60vw;
    height: 100vw;  
    margin:50px;
    font-family: 'Actor', sans-serif;
    font-size: 80px;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px  #FFCDF4,
                          2px 2px 0 #FFCDF4,
                         2px 2px 0 #FFCDF4,
                        2px 2px 0 #FFCDF4;
                        text-align:center;
     
  }

  .innerrectangle2 {

    border-radius: 25px;
    background: #F8F6FF;
    padding: 20px; 
    width: 50vw;
    height: 60vw;  
    margin:50px;
    font-family: 'Actor', sans-serif;
    font-size: 30px;
  }

  .text {
    font-family: 'Actor', sans-serif;
    font-size: 25px; 
    color: #000000;
    margin:50px;
  }

  .button2 {
    background-color: #EEE5FF;
    border: 7px solid #FFFFFF;
    color: #000000;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    display: flex;
    font-size: 22px;
    margin: 12px 700px;
    font-family: 'Actor', sans-serif;
    
  }
  #rcorners3 {
    border-radius: 25px;
    background: #EFFCFF;
    width: 60vw;
    height: 100vw;  
    margin:50px;
    font-family: 'Actor', sans-serif;
    font-size: 80px;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px  #FFCDF4,
    2px 2px 0 #FFCDF4,
   2px 2px 0 #FFCDF4,
  2px 2px 0 #FFCDF4;
  text-align:center;
    
  }

  .innerrectangle3 {

    border-radius: 25px;
    background: #D3F7FF;
    padding: 20px; 
    width: 50vw;
    height: 60vw;  
    margin:50px;
    font-family: 'Actor', sans-serif;
    font-size: 30px;
  }

  #rcorners4 {
    border-radius: 25px;
    background: #FFF8FD;
    width: 60vw;
    height: 100vw;  
    margin:50px;
    font-family: 'Actor', sans-serif;
    font-size: 80px;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px  #FFCDF4,
                          2px 2px 0 #FFCDF4,
                         2px 2px 0 #FFCDF4,
                        2px 2px 0 #FFCDF4;
                        text-align:center;
    
  }

  .innerrectangle4 {

    border-radius: 25px;
    background: #FFE5F9;
    padding: 20px; 
    width: 50vw;
    height: 60vw;  
    margin:50px;
    font-family: 'Actor', sans-serif;
    font-size: 30px;
  }

  .innerrectangle5 {

    border-radius: 25px;
    background: #F2FFF6;
    padding: 20px; 
    width: 50vw;
    height: 60vw;  
    margin:50px;
    font-family: 'Actor', sans-serif;
    font-size: 30px;
  }

  #rcorners5 {
    border-radius: 25px;
    background: #D9FEE3;
    width: 60vw;
    height: 100vw;  
    margin:50px;
    font-family: 'Actor', sans-serif;
    font-size: 80px;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px  #FFCDF4,
                          2px 2px 0 #FFCDF4,
                         2px 2px 0 #FFCDF4,
                        2px 2px 0 #FFCDF4;
                        text-align:center;
    
  }


.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.nav {
    font-size:35px;
    background: #F2FFF6;
    width: 60vw;
    height:6vw;  
    
    
}
body, html {
  margin: 0px;
}

.menu {
  display:flex;
  flex-direction: column;
}

.menu_closed {
  background-color:transparent;
  height: 50px;
  width: 100%;
  font-family: 'Bellota', cursive;
  display:inline-flex;
}

.back_icon {
  flex: 1;
  cursor:pointer;
}


.hamImg {
  position: absolute;
  cursor:pointer;
  margin: 10px;
  border-radius: 0px;
}

#back_icon_inner {
  padding-left:10px;
  cursor:pointer;
}

#exit_icon {
  position:absolute;
  top: 4%;
  left: 6%;
  cursor:pointer;
}

a:link {
  color: #ffffff;
  font-style: normal;
  text-decoration: none;
}

a:visited {
  color:#ffffff;
}

.menu_items{
  display:none;
  position: absolute;
  opacity:1;
  transition:opacity 1s;
  flex-direction:column;
  background-color: #000000;
  align-items: left;
  padding: 25px 25px 25px 25px;
  opacity:0%;
  transition: 0.25s;
  font-size: 18pt;
  width: 75%;
  border-radius: 0px 0px 20px 0px;  
  z-index:10;
}

.menu_items_inner {
  margin: 5% 5% 10% 20%;
}